<app-header [loggedIn]="true" [showUsername]="'Aishwarya'"></app-header>
<div class="songsByCategory">
  <div id="accordion">
    <div class="card" *ngFor="let category of categories; index as i">
      <div class="card-header" [attr.id]="'category'+i">
        <div class="mb-0 category-header">
            {{category.name}} 
          <button class="btn btn-sm btn-outline-light"
           data-toggle="collapse" [attr.data-target]="'#collapse'+i" 
          aria-expanded="false" [attr.aria-controls]="'collapse'+i" (click)="openDetails(category)">
            <!-- <fa-icon [icon]="category.arrow"></fa-icon> -->
             {{category.arrow}}   
          </button>
        </div>
      </div>

      <div [attr.id]="'collapse'+i" class="collapse row category-body" [attr.aria-labelledby]="'category'+i" 
        data-parent="#accordion">
        <div class="col-md-3">
            <img class="card-img-top img-thumbnail" src="../../assets/images/listener-home/explore.jpg" alt="Card image cap">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Header</th>
                          <th>Header</th>
                          <th>Header</th>
                          <!-- <th>Header</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor = "let song of category.songs; index as j;" id="p{{j}}">
                          <td>{{song.id}}</td>
                          <td>{{song.name}}</td>
                          <td>{{song.artist}}</td>
                          <td>{{song.music}}</td>
                          <!-- <td>
                            <button type="button" class="btn btn-default" (click)="setFavoriteSong(song)">
                              <fa-icon [icon]="song.favorite"></fa-icon>
                            </button> 
                            <button type="button" class="btn btn-default" (click)="likeSong(song)">
                              <span class="badge badge-light">{{song.likesNum}}</span>
                              <fa-icon [icon]="song.like"></fa-icon>
                            </button>
                            <button type="button" class="btn btn-default"
                            data-toggle="modal" data-target="#commentsModal">
                              <span class="badge badge-light">{{song.commentsNum}}</span>
                              <fa-icon [icon]="faComment"></fa-icon>
                            </button> 
                          </td> -->
                          
                          
                        </tr>
                        
                        
                        
                      </tbody>
                    </table>
                  </div>
              
            </div>
        </div>
        
   
      </div>
    </div>
  </div>

</div>
