.modal-footer{
    justify-content: center;
}

.user-info{
    color: #ebeff3;
}

.navbar-expand-lg .navbar-nav{
    margin: auto;
}

.search-box{
    // display: flex;
    // justify-content: space-between;
    // margin-left: 25rem;
    
}

.sucess-msg{
    margin-bottom: 0;
}

