<app-header [loggedIn]="loggedIn" [showUsername]="userName"></app-header>

<div class="alert alert-warning alert-dismissible fade show success-msg" role="alert" *ngIf="!loggedIn">
  Please login to for trying out more features!!!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container emp-profile" >
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img" style=" width : 60%" *ngIf="!person.imageStyle">
          
          <img 
            [attr.src]="person.image"
            alt="" />
        </div>


        <div class="profile-img" *ngIf="person.imageStyle">
          
          <img 
            [attr.src]="person.image"
            
            alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h4>
            {{person.firstName}} {{person.lastName}}
          </h4>
          <h6>
            @{{person.username}}
          </h6>
          <h5>
            {{profileUserType | titlecase}}
          </h5>
          <p class="profile-rating" *ngIf="person.type==='artist'">
            Popularity : <span>{{person.popularity || 0}}</span>
          </p>
          

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">About</a>
            </li>
            <li class="nav-item" *ngIf="!isSelf">
              <a class="nav-link" id="follower-tab" data-toggle="tab" href="#follower" role="tab" aria-controls="follower"
                aria-selected="false">Followers</a>
            </li>
            <li class="nav-item" *ngIf="!isSelf">
              <a class="nav-link" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following"
                aria-selected="false">Following</a>
            </li>
            <li class="nav-item" *ngIf="!isSelf">
              <a class="nav-link" id="album-tab" data-toggle="tab" 
              href="#albums" role="tab" aria-controls="albums" *ngIf="person.type === 'artist'"
                aria-selected="false">Albums</a>
              <a class="nav-link" id="playlists-tab" data-toggle="tab" 
              href="#playlists" role="tab" aria-controls="playlists" *ngIf="person.type === 'listener'"
                aria-selected="false">Playlists</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2" *ngIf="(isSelf || isAdmin) && !editMode ; else followSection">
        <button type="submit" class="btn btn-outline-secondary" (click)="setEditMode()"
         name="btnEdit">
          Edit Profile
        </button>
      </div>
      <ng-template #followSection>
        <div *ngIf="!isSelf && !isAdmin && loggedIn">
          <button type="submit" class="btn btn-outline-secondary" 
           name="btnFollow" (click)="follow()" *ngIf="!currentUserFollows">
            Follow
          </button>
          <button type="submit" class="btn btn-secondary" 
           name="btnFollow" (click)="unfollow()" *ngIf="currentUserFollows">
            Following
          </button>
        </div>
      </ng-template>
      
    </div>
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab container-details" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>First Name</label>
              </div>
              <div class="col-md-6">
                <p *ngIf="!editMode">{{person.firstName}}</p>
                <input type="text" class="form-control input-style" id="firstName"
                name="firstName"
                *ngIf="editMode" value="{{person.firstName}}"
                [(ngModel)]="person.firstName">

              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Last Name</label>
              </div>
              <div class="col-md-6">
                <p *ngIf="!editMode">{{person.lastName}}</p>
                <input type="text" class="form-control input-style" id="lastName"
                *ngIf="editMode"   value="{{person.lastName}" name="lastName"
                [(ngModel)]="person.lastName">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Username</label>
              </div>
              <div class="col-md-6">
                <p *ngIf="!editMode">{{person.username}}</p>
                <input type="text" class="form-control input-style" id="username" name="username" 
                [(ngModel)] = "person.username" readonly *ngIf="editMode"  value="{{person.username}}"
                >
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p *ngIf="!editMode">{{person.phone}}</p>
                <input type="number" class="form-control input-style" id="phone" name="phone"
                *ngIf="editMode"  value="{{person.phone}}"
                [(ngModel)]="person.phone">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Address</label>
              </div>
              <div class="col-md-6">
                <p *ngIf="!editMode">{{person.address}}</p>
                <input type="text" class="form-control input-style" id="address" name="address"
                *ngIf="editMode"  value="{{person.address}}"
                [(ngModel)]="person.address">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p *ngIf="!editMode">{{person.email}}</p>
                <input type="email" class="form-control input-style" id="email" name="email"
                *ngIf="editMode"  value="{{person.email}}"
                [(ngModel)]="person.email">
              </div>
            </div>
            
            <div class="row savbtn" *ngIf="editMode">
              <button class="btn btn-outline-secondary" name="btn-save"
              (click)="saveProfileDetails()">Save</button>
            </div>
          </div>

          <!--- For followers--->
          <div class="tab-pane fade container-details" id="follower" role="tabpanel"
          aria-labelledby="follower-tab">
          <div class="alert alert-info" *ngIf="!person.followers.length">0 Followers</div>
            <ul class="list-group">
              <li class="list-group-item list-override" *ngFor = "let follower of person.followers; index as i">
                  <div class="list-item">
                      <div>
                        {{follower.first_name}} {{follower.last_name}}
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-sm btn-outline-secondary" 
                          (click)="navigateToProfile(follower)" *ngIf = "userId !== follower.user_id">
                              View Profile
                          </button>
                      </div>
                  </div>
              </li>
            </ul>
          </div>

          <!--- For followings--->
          <div class="tab-pane fade container-details" id="following" role="tabpanel" aria-labelledby="following-tab">
            <div class="alert alert-info" *ngIf="!person.followings.length">0 Followings</div>
            <ul class="list-group">
              
              <li class="list-group-item list-override" *ngFor = "let following of person.followings; index as i">
                  <div class="list-item">
                      <div>
                          {{following.first_name}} {{following.last_name}}
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-sm btn-outline-secondary" 
                          (click)="navigateToProfile(following)" *ngIf = "userId !== following.user_id">
                              View Profile
                          </button>
                      </div>
                  </div>
              </li>
            </ul>
          </div>

          <!-- For Albums -->
          
          <div class="tab-pane fade container-details" id="albums" role="tabpanel"
          aria-labelledby="album-tab">
          <div class="alert alert-info" *ngIf="!person.dataList.length">0 {{dataType[profileUserType]}}</div>
            <ul class="list-group">
              <li class="list-group-item list-override" *ngFor = "let data of person.dataList index as i">
                  <div class="list-item">
                      <div>
                          {{data.title}}
                      </div>
                      <button type="button" class="btn btn-sm btn-outline-secondary"
                      data-toggle="modal" (click) = "setModalData(person.dataList[i])"
                      [attr.data-target]="'#'+person.dataType+'Modal'">
                              View 
                      </button>
                  </div>
              </li>
            </ul>
          </div>

          <!-- For Playlists -->
          
          <div class="tab-pane fade container-details" id="playlists" role="tabpanel"
          aria-labelledby="playlists-tab">
          <div class="alert alert-info" *ngIf="!person.dataList.length">0 {{dataType[profileUserType]}}</div>
            <ul class="list-group">
              <li class="list-group-item list-override" *ngFor = "let data of person.dataList index as i">
                  <div class="list-item">
                      <div>
                          {{data.title}}
                      </div>
                      <button type="button" class="btn btn-sm btn-outline-secondary"
                      data-toggle="modal" (click) = "setModalData(person.dataList[i])"
                      [attr.data-target]="'#'+person.dataType+'Modal'">
                              View 
                      </button>
                  </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
<!-- For songs in playlists/albums -->
<div class="modal fade" [attr.id]="person.dataType+'Modal'" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dataModalLabel">{{ categories.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="songsByCategory">
            <div *ngIf = "!categories.songs.length">No songs found in the {{dataType[profileUserType]}}!</div>
            <div id="accordion">
              <div class="card" *ngFor="let song of categories.songs; index as i">
                <div class="card-header" [attr.id]="'category'+i">
                  <div class="mb-0 category-header">
                      {{song.title}} 
                    <button class="btn btn-sm btn-outline-secondary"
                     data-toggle="collapse" [attr.data-target]="'#collapse'+i" 
                    aria-expanded="false" [attr.aria-controls]="'collapse'+i" (click)="openDetails(song)">
                      <!-- <fa-icon [icon]="category.arrow"></fa-icon> -->
                       {{song.arrow}}   
                    </button>
                  </div>
                </div>
          
                <div [attr.id]="'collapse'+i" class="collapse row category-body" [attr.aria-labelledby]="'category'+i" 
                  data-parent="#accordion">
                  <div class="container">
                    <div class="" style="background-color: darkgray; display: flex; justify-content: space-between;">
                      <div class="col-md-4">
                        <strong>Title: </strong> {{song.title}}
                      </div>
                      <div class="col-md-4">
                        <strong>Popularity: </strong> {{song.popularity || 0}}
                      </div>
                      <div class="col-md-4">
                        <strong>Duration: </strong> {{convertMS(song.duration)}}
                      </div>
                    </div>
                  </div>
                  
                  
             
                </div>
              </div>
            </div>
          
          </div>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary"
          data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

