<div style="height: 100%; overflow: hidden; background-color: #31383e;">
  <app-header [loggedIn]="true" [showUsername]="userName"></app-header>

<div class="alert alert-secondary" *ngIf="songsList.length > 0">
  <strong>Songs</strong>
</div>

<div class="alert alert-info" *ngIf="songsList && !songsList.length">
  Please wait while we load the songs.
</div>




<!-- PLAYER -->

<div class="alert alert-info alert-dismissible fade show success-msg" role="alert" *ngIf="songPreviewURL == 'false'">
  <strong>OOPS! No preview available!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div style="height: 100%; overflow: hidden;" >
  <div *ngIf="songPreviewURL && songPreviewURL!=='false'" class="embed-responsive embed-responsive-4by3 player-cont">

    <div class="img-cnt">
      <img [attr.src]="songImageUrl"  class="img-ele img-thumbnail">
    </div>
    <div class="audio-cont">
      <audio controls class="embed-responsive-item">
        <source [attr.src]="songPreviewURL">
      </audio>
    </div>
  
  
  </div>
  
  <!-- PLAYER END -->
  
  
  <div class="people-container">
  
  
    <div class="tab-content" id="myTabContent" style="background-color: #31383e;">
      <div class="tab-pane fade show active" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
        <ul class="list-group">
          <li class="list-group-item list-group-item-secondary" *ngFor="let song of songsList; index as i">
            <div class="list-item row">
              <div class="col-md-4">
                {{i+1}}. {{song.title}}
              </div>
              <div class="col-md-4" style="text-align:center;">
                <div class="col-md 12" style="display: flex;justify-content: space-evenly;">
                  <div>
                    {{convertMS(song.duration)}} min
                  </div>
                  <div>
                    {{song.popularity || 0}} popularity
                  </div>
                
                </div>
              </div>
              <div class="col-md-2" style="text-align:center;">
                Performed by {{song.artists || "Unknown"}}
              </div>
              <div class="col-md-2 end-col">
                <button class="btn btn-default" type="button" (click)="setSongPreviewURL(song)">
                  <fa-icon [icon]="faPlay"></fa-icon>
                </button>

                <button type="button" (click)="setSongId(song)" class="btn btn-default" 
                data-toggle="modal" data-target="#AddNewModal"
                class="btn btn-default" *ngIf="isAdmin">
                  <fa-icon [icon]="faAdd"></fa-icon>
                </button>
                
                <button type="button" (click)="deleteSong(song)" 
                class="btn btn-default" *ngIf="isAdmin">
                  <fa-icon [icon]="faDelete"></fa-icon>
                </button>
                
              </div>
  
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


</div>

<!-- Add Song To playlist -->

<div class="modal fade" id="AddNewModal" tabindex="-1" role="dialog" data-backdrop="static"
aria-labelledby="AddNewModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="AddNewModalLabel">Add song to {{toAddSongToList.listType | titlecase}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="alert alert-info" *ngIf="!listOfPlaylists.length">
        You do not have any playlists. Please create a new playlist.
      </div>
      <form *ngIf="listOfPlaylists.length > 0">
        
        <div class="form-group" *ngIf="toAddSongToList.listType == 'playlist'">
          <label for="selectPlaylist">Select Playlist</label>
          <select class="form-control" id="selectPlaylist" 
          [(ngModel)]="toAddSongToList.listId"
          
           name="selectPlaylist" #selectPlaylist="ngModel"
            required>
            <option value="">Select</option>
            <option value="{{item.id}}" *ngFor="let item of listOfPlaylists">
              {{item.title}}
            </option>
          </select>
          
        </div>

      </form>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="addSongToList(listOfPlaylists.length)"
      data-dismiss="modal">
        {{!listOfPlaylists.length ? 'CLOSE' : 'ADD'}}
    </button>
    </div>
  </div>
</div>
</div>