
<form> 
  <div class="form-group">
    <label for="loginAs">Login As<span style="color:crimson;">*</span></label>
    <select class="form-control" id="loginAs" [(ngModel)]="login.dtype"
    (change)="updateSelector(login.dtype)"
     name="loginAs" #loginAs="ngModel"
      required>
      <option value="">Select</option>
      <option value="admin">Admin</option>
      <option value="artist">Artist</option>
      <option value="listener">Listener</option>
    </select>
    
  </div>
  <div class="form-group" *ngIf = "login.dtype && login.dtype!='admin'">
    <label for="loginUsername">Username<span style="color:crimson;">*</span></label>
    <select class="form-control" id="loginUsername" [(ngModel)]="login.username"
     name="loginUsername" #loginUsername="ngModel"  data-live-search="true"
      required>
      <option value="">Select</option>
      <option *ngFor="let option of list" value="{{option.username}}">
        {{option.username}}
      </option>
    </select>

    
  </div>
  <div class="form-group">
    <label for="loginPassword">Password<span style="color:crimson;">*</span></label>
    <input type="password" class="form-control" name = "password" #password="ngModel"
    [(ngModel)]="login.password" id="loginPassword" required>
    <div *ngIf="password.invalid && (password.dirty || password.touched)"
        class="alert alert-light">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
      </div>
  </div>
</form>