<app-header [loggedIn]="true" [showUsername]="userName"></app-header>
<!-- <div class="spinner-border" role="status" *ngIf="showusers">
    <span class="sr-only">Loading...</span>
</div> -->

<div class="d-flex justify-content-center" style = "margin: 50px;" *ngIf="!showusers">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


<div class = "people-container" *ngIf="showusers">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                <span class="badge badge-secondary">{{artists.length || 0}}</span> Artists
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                <span class="badge badge-secondary">{{listeners.length || 0}}</span> Listeners
            </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="alert alert-info" *ngIf="!artists.length">
                There are no artists
            </div>
            <ul class="list-group" *ngIf="artists.length > 0">
                <li class="list-group-item" *ngFor = "let artist of artists; index as i">
                    <div class="list-item">
                        <div>
                            {{i+1}}. {{artist.first_name}} {{artist.last_name}}
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-secondary"
                            (click)="deleteUser(artist.user_id)">
                                Delete User
                            </button>
                            <button type="button" class="btn btn-outline-secondary"
                            (click)="navigateToProfile(artist)">
                                View Profile
                            </button>
                            
                        </div>
                    </div>
                </li>
              </ul>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="alert alert-info" *ngIf="!listeners.length">
                There are no listeners
            </div>
            <ul class="list-group" *ngIf="listeners.length > 0">
                <li class="list-group-item" *ngFor = "let listener of listeners; index as i">
                    <div class="list-item">
                        <div>
                            {{i+1}}. {{listener.first_name}} {{listener.last_name}}
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-secondary"
                            (click)="deleteUser(listener.user_id)">
                                Delete User
                            </button>
                            <button type="button" class="btn btn-outline-secondary"
                            (click)="navigateToProfile(listener)">
                                View Profile
                            </button>
                            
                        </div>
                    </div>
                </li>
              </ul>
    
        </div>
      </div>
</div>