<form #signUpForm="ngForm">
  <div class="form-group">
    <label for="signupFName">First Name<span style="color:crimson;">*</span></label>
    <input type="text" class="form-control" id="signupFName" name="fname" #fname="ngModel"
     [(ngModel)]="signup.first_name" aria-describedby="emailHelp" required>
    <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-light">
      <div *ngIf="fname.errors.required">
        First Name is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="signupLName">Last Name<span style="color:crimson;">*</span></label>
    <input type="text" class="form-control" id="signupLName" name="lname" #lname="ngModel" 
    [(ngModel)]="signup.last_name" aria-describedby="emailHelp" required>
    <div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="alert alert-light">
      <div *ngIf="lname.errors.required">
        Last Name is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="signupEmail">Email<span style="color:crimson;">*</span></label>
    <input type="email" class="form-control" id="signupEmail" name="email" #email="ngModel" [(ngModel)]="signup.email"
      aria-describedby="email" required>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-light">
      <div *ngIf="email.errors.required">
        Email is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="signupPhone">Phone</label>
    <input type="number" class="form-control" id="signupPhone" name="phone" #phone="ngModel" [(ngModel)]="signup.phone"
      aria-describedby="phone" required>
    
  </div>
  <div class="form-group">
    <label for="signupAddress">Address</label>
    <input type="text" class="form-control" id="signupAddress" name="address" #address="ngModel"
      [(ngModel)]="signup.address" aria-describedby="address" required>
    
  </div>
  <div class="form-group">
    <label for="signupAs">Sign Up As<span style="color:crimson;">*</span></label>
    <select class="form-control" id="signupAs" [(ngModel)]="signup.user_type" name="userType" #usertype="ngModel"
      required>
      <option value="">Select</option>
      <option value="artist">Artist</option>
      <option value="listener">Listener</option>
    </select>
    <div *ngIf="usertype.invalid && (usertype.dirty || usertype.touched)" class="alert alert-light">
      <div *ngIf="usertype.errors.required">
        User Type is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="signupUName">Username<span style="color:crimson;">*</span></label>
    <input type="text" class="form-control" id="signupUName" name="username" required [(ngModel)]="signup.username"
      aria-describedby="emailHelp" #username="ngModel">
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-light">
      <div *ngIf="username.errors.required">
        Username is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="signupPassword">Password<span style="color:crimson;">*</span></label>
    <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="signup.password"
      id="signupPassword" required>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-light">
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
    </div>
  </div>
</form>
