<app-header [loggedIn]="true" [showUsername]="'Aishwarya'"></app-header>
<div style="margin:20px">
    <div class="card-deck">
        <div class="card">
            <img src="../../assets/images/listener-home/casette.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Playlists</h5>
              <p class="card-text">One station for the music library that you have created.</p>
              <button type="button" class="btn btn-outline-warning">
                <a routerLink="/playlists" routerLinkActive="active">Enter</a>
              </button>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/images/listener-home/favorites.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Favorites</h5>
                <p class="card-text">Want to check out the songs you liked? You'll get it here. </p>
                <button type="button" class="btn btn-outline-warning">
                    <a routerLink="/favorites" routerLinkActive="active">Enter</a>
                </button>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/images/listener-home/people.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">People</h5>
            <p class="card-text">See who follow you and who you follow.</p>
            <button type="button" class="btn btn-outline-warning">
                <a routerLink="/people" routerLinkActive="active">Enter</a>
            </button>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/images/listener-home/explore.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Explore</h5>
            <p class="card-text">A curated library of unlimited songs, just for you.</p>
            <button type="button" class="btn btn-outline-warning">
                <a routerLink="/explore" routerLinkActive="active">Enter</a>
            </button>
            </div>
        </div>
        
    </div>
      
</div>

