<app-header [loggedIn]="true" [showUsername]="userName" [searchKey]="searchKey"></app-header>

<div style="margin:20px">
    <div class="card-deck">
        <div class="card" *ngFor = "let user of pageStructure[userType]">
            <img [attr.src]="user.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{user.title}}</h5>
              <p class="card-text">{{user.message}}</p>
              <button type="button" class="btn btn-outline-warning" (click)="navigateTo(user.route)">
                Enter
              </button>
            </div>
        </div>
        
    </div>

        
</div>


