<app-header [loggedIn]="true" [showUsername]="userName" [searchKey]="searchKey"></app-header>
<div class="alert alert-warning alert-dismissible fade show success-msg" role="alert" *ngIf="success">
  User is register!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="alert alert-warning alert-dismissible fade show success-msg" role="alert" *ngIf="playlistAddSuccess">
 Playlist added
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="alert alert-warning alert-dismissible fade show success-msg" role="alert" *ngIf="albumAddSuccess">
  Album added
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>

<div style="margin:20px">
    <div class="card-deck">
        <div class="card" *ngFor = "let user of pageStructure[userType]">
            <img [attr.src]="user.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{user.title}}</h5>
              <p class="card-text">{{user.message}}</p>
              <button type="button" class="btn btn-outline-warning" (click)="navigateTo(user.route)">
                Enter
              </button>
            </div>
        </div>
        
    </div>
    
    <div *ngIf="isAdmin" style="margin: 100px; text-align: center;"> 
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary"
          data-target = "#signUp"
          data-toggle = "modal">Add User</button>
        <button type="button" class="btn btn-secondary"
          data-target = "#playlist"
          data-toggle = "modal">Add New Playlist</button>
        <button type="button" class="btn btn-secondary"
          data-target = "#album"
          data-toggle = "modal">Add New Album</button>
        <button type="button" class="btn btn-secondary"
          (click)="navigateTo('/newSong')"
          >Create New Song</button>
      </div>

    </div>

        
</div>

<!-- REGISTER -->

<div class="modal fade " id="signUp" tabindex="-1" role="dialog" data-backdrop="static"
        aria-labelledby="signUpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="signUpModalLabel">Register User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-sign-up name ="signupform" 
              [signUpForm] = "signupform"></app-sign-up>
            </div>
            <div class="modal-footer" style="justify-content: center;">
              <button type="button" class="btn btn-outline-secondary"
              (click)="register()" [attr.data-dismiss]="dissmiss.signup.allow">Confirm</button>
              <div *ngIf="dissmiss.signup.alert && checkSignup()" class="alert alert-danger" >
                Please fill all the required fields
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Add new album -->


  <div class="modal fade" id="album" tabindex="-1" role="dialog" data-backdrop="static"
  aria-labelledby="AddNewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddNewModalLabel">Add new album</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          
          

          <div class="form-group">
            <label for="selectUser">Select User</label>
            <select class="form-control" id="selectUser" 
            [(ngModel)]="newItem.userId"
            
             name="selectUser" #selectUser="ngModel"
              required>
              <option value="">Select</option>
              <option *ngFor="let item of artists" value="{{item.user_id}}" >
                {{item.username}}
              </option>
            </select>
           
          </div>
          <div class="form-group">
            <label for="albumName">Album Name</label>
            <input type="text" class="form-control" id="albumName" name="albumName" #albumName="ngModel" 
            [(ngModel)]="newItem.name" aria-describedby="emailHelp" required>
            
          </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="addAlbumItem()"
        data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>
      


  <!-- Add new Playlist -->

  <div class="modal fade" id="playlist" tabindex="-1" role="dialog" data-backdrop="static"
  aria-labelledby="AddNewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddNewModalLabel">Add new playlist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          
          

          <div class="form-group">
            <label for="selectAlbum">Select User</label>
            <select class="form-control" id="selectAlbum" 
            [(ngModel)]="newItem.userId"
            
             name="selectAlbum" #selectAlbum="ngModel"
              required>
              <option value="">Select</option>
              <option *ngFor="let item of listeners" value="{{item.user_id}}" >
                {{item.username}}
              </option>
            </select>
           
          </div>
          <div class="form-group">
            <label for="plalistName">Playlist Name</label>
            <input type="text" class="form-control" id="plalistName" name="plalistName" #plalistName="ngModel" 
            [(ngModel)]="newItem.name" aria-describedby="plalistName" required>
            
          </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="addNewPlaylist()"
        data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>
      

