
<app-header [loggedIn]="loggedIn" [showUsername]="userName"></app-header>

<div class="alert alert-warning alert-dismissible fade show success-msg" role="alert" *ngIf="resultCount!=-1 &&!loggedIn">
    Please login to for trying out more features!!!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="d-flex justify-content-center" style = "margin: 50px;" *ngIf="resultCount === -1">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<h3 *ngIf="resultCount > -1" class="search-result-header">{{resultCount}} results found</h3>

 <div class="container">
    <div class="row">
        <div class="individual list">
            <ul class="event-list">
                <li  *ngFor = "let result of resultList; index as i">
                    
                    <img *ngIf="result.album.image_url" alt="Independence Day" 
                    [attr.src]="result.album.image_url"
                     />
                     <img *ngIf="!result.album.image_url" alt="Independence Day" 
                    src="../../assets/images/NoImageAvailable.jpg"
                     />
                    <div class="info">
                        <h2 class="title">{{result.title}}</h2>
                        <p class="desc">{{result.album.title}}</p>
                        <p  class="desc">Popularity: {{result.popularity}}</p>
                        <p class="desc">Song duration: {{convertMS(result.duration)}}</p>
                        
                        <div class="album-info">
                            <p class="desc">Album resealed on: {{result.album.release_year}}</p>
                            <p  class="desc">Album type: {{result.album.album_type}}</p>
                            <p  class="desc">Artists: {{result.artistNames || 'Unknown'}}</p>
                        </div>
                    </div>
                    <div class="social" *ngIf="loggedIn && isListener">
                        <ul>
                            <li class="facebook" style="width:33%;"><a href="#facebook"></a></li>
                            <li class="twitter" style="width:100%;">
                                <button class="btn btn default" (click)="setSongId(result)"
                                data-toggle="modal" data-target="#AddNewModal">
                                    <span class="fa fa-plus"></span>
                                </button></li>
                            <li class="google-plus" style="width:33%;"><a href="#google-plus"></a></li>
                        </ul>
                    </div>
                </li>



                
            </ul>
        </div>
    </div>
</div>

<!-- Add Song To playlist -->

<div class="modal fade" id="AddNewModal" tabindex="-1" role="dialog" data-backdrop="static"
aria-labelledby="AddNewModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="AddNewModalLabel">Add song to {{this.toAddSongToList.listType | titlecase}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="alert alert-info" *ngIf="!listOfPlaylists.length">
        You do not have any playlists. Please create a new playlist.
      </div>
      <form *ngIf="listOfPlaylists.length > 0">
        
        <div class="form-group" *ngIf="toAddSongToList.listType == 'playlist'">
          <label for="selectPlaylist">Select Playlist</label>
          <select class="form-control" id="selectPlaylist" 
          [(ngModel)]="toAddSongToList.listId"
          
           name="selectPlaylist" #selectPlaylist="ngModel"
            required>
            <option value="">Select</option>
            <option value="{{item.id}}" *ngFor="let item of listOfPlaylists">
              {{item.title}}
            </option>
          </select>
          
        </div>

        <div class="form-group" *ngIf="toAddSongToList.listType == 'album'">
           
          <label for="selectAlbum">Select Album</label>
          <select class="form-control" id="selectAlbum" 
          [(ngModel)]="toAddSongToList.listId"
          
           name="selectAlbum" #selectAlbum="ngModel"
            required>
            <option value="">Select</option>
            <option *ngFor="let item of listOfAlbums" value="{{item.id}}" >
              {{item.title}}
            </option>
          </select>
        
        </div>
      </form>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="addSongToList(listOfPlaylists.length)"
      data-dismiss="modal">
        {{!listOfPlaylists.length ? 'CLOSE' : 'ADD'}}
    </button>
    </div>
  </div>
</div>
</div>