<app-header [loggedIn]="true" [showUsername]="userName"></app-header>


<div class="d-flex justify-content-center" style = "margin: 50px;" *ngIf="!albums">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="alert alert-info" *ngIf="albums && !albums.length">
  There are no {{category }}
</div>
<div class="songsByCategory" *ngIf = "albums && albums.length > 0">
  <div id="accordion">
    <div class="card" *ngFor="let category of albums; index as i">
      <div class="card-header" [attr.id]="'category'+i" >
        <div class="mb-0 category-header" >
          {{category.title }}
          
          <div>
            <button type="button" (click)="deleteList(category)" class="btn btn-default" *ngIf="isAdmin">
              <fa-icon [icon]="faDelete" style="color: whitesmoke;"></fa-icon>
            </button>
              <button class="btn btn-sm btn-outline-light"
                data-toggle="collapse" [attr.data-target]="'#collapse'+i" [disabled]="category.songs.length == 0 "
               aria-expanded="false" [attr.aria-controls]="'collapse'+i" (click)="openDetails(category)">
                  {{category.arrow}}   
               </button>
          </div>
           
          
          
        </div>
      </div>

      <div [attr.id]="'collapse'+i" class="collapse row category-body" [attr.aria-labelledby]="'category'+i" 
        data-parent="#accordion">
        <div class="col-md-3" *ngIf="!adminPlaylistView">
            <img class="card-img-top img-thumbnail" *ngIf="category.image_url" [attr.src]="category.image_url" alt="Card image cap">
            <img class="card-img-top img-thumbnail" *ngIf="!category.image_url" src="../../assets/images/NoImageAvailable.jpg" alt="Card image cap">
        </div>
        <div [ngClass]="{'col-md-12' : adminPlaylistView, 'col-md-9' : !adminPlaylistView}">
            <div class="card-body">
              <div class="alert alert-info alert-dismissible fade show success-msg" role="alert" *ngIf="songPreviewURL == 'false'">
                <strong>OOPS! No preview available!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div style="height: 100%; overflow: hidden;" >
                <div *ngIf="songPreviewURL && songPreviewURL!=='false'">
              
                  
                  <div class="audio-cont">
                    <audio controls class="embed-responsive-item">
                      <source [attr.src]="songPreviewURL">
                    </audio>
                  </div>
                
                
                </div>
                
                <!-- PLAYER END -->
                <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Title</th>
                          <th>Popularity</th>
                          <th>Duration</th>
                          <th>Play</th>
                          <th *ngIf="canDoActions"></th>
                          <th *ngIf="!canDoActions">Favorites</th>
                          <th *ngIf="!canDoActions">Likes</th>
                          <th *ngIf="!canDoActions">Dislikes</th>
                          <!-- <th *ngIf="!canDoActions">Comments</th> -->
                          
                          <th *ngIf="!adminPlaylistView">Add to {{listType[userType]}}</th>
                          <th *ngIf="isAdmin"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor = "let song of category.songs; index as j;" id="p{{j}}">
                          <td>{{j + 1}}</td>
                          <td>{{song.title}}</td>
                          <td>{{song.popularity || 0}}</td>
                          <td>{{song.time}}</td>
                          <td>
                            <button class="btn btn-default" type="button" (click)="setSongPreviewURL(song)">
                              <fa-icon [icon]="faPlay"></fa-icon>
                            </button>
                          </td>
                          <td *ngIf="canDoActions">
                            <button type="button" class="btn btn-default" (click)="setFavoriteSong(song)">
                              <span *ngIf="song.favorite">
                                <fa-icon [icon]="faFavoriteTrue" ></fa-icon>
                              </span>
                              <span *ngIf="!song.favorite">
                                <fa-icon [icon]="faFavoriteFalse"></fa-icon>
                              </span>
                            </button> 
                            <button type="button" class="btn btn-default" (click)="likeSong(song)" *ngIf="song.dislike!=true">
                              <span class="badge badge-light">{{song.numOfLikes || 0}}</span>
                              <span *ngIf="song.like">
                                <fa-icon [icon]="faLikeTrue" ></fa-icon>
                              </span>
                              <span *ngIf="!song.like">
                                <fa-icon [icon]="faLikeFalse"></fa-icon>
                              </span>
                              
                            </button>
                            <button type="button" class="btn btn-default" (click)="dislikeSong(song)" *ngIf="song.like!=true">
                              <span class="badge badge-light">{{song.numOfDislikes || 0}}</span>
                              <span *ngIf="song.dislike">
                                <fa-icon [icon]="faDislikeTrue" ></fa-icon>
                              </span>
                              <span *ngIf="!song.dislike">
                                <fa-icon [icon]="faDislikeFalse"></fa-icon>
                              </span>
                        
                            </button>
                            <!-- <button type="button" class="btn btn-default" (click)="showComments(song)"
                            data-toggle="modal" data-target="#commentsModal">
                              <span class="badge badge-light">{{song.numOfComments || 0}}</span>
                              <fa-icon [icon]="faComment"></fa-icon>
                            </button>  -->
                          </td>
                          
                          <td *ngIf="!canDoActions">
                            {{song.numOfFavorites || 0}}
                          </td>
                          <td *ngIf="!canDoActions">
                            {{song.numOfLikes || 0}}
                              
                          </td>
                          <td *ngIf="!canDoActions">
                            {{song.numOfDislikes || 0}}
                          </td>
                          <!-- <td *ngIf="!canDoActions">
                            {{song.numOfComments || 0}}
                              <span>
                                <fa-icon [icon]="faComment" ></fa-icon>
                              </span>
                          </td> -->
                          <td *ngIf="!adminPlaylistView">
                            <button type="button" (click)="setSongId(song)" class="btn btn-default" 
                            data-toggle="modal" data-target="#AddNewModal">
                              <fa-icon [icon]="faAdd"></fa-icon>
                            </button>
                          </td>
                          <td *ngIf="isAdmin">
                            <button type="button" (click)="deleteSongFromList(category, song)" class="btn btn-default">
                              <fa-icon [icon]="faDelete"></fa-icon>
                            </button>
                          </td>
                          
                          
                          
                        </tr>
                        
                        
                        
                      </tbody>
                    </table>
                  </div>
              
            </div>
        </div>
        
   
      </div>
    </div>
  </div>

</div>

<!-- Comments -->
<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="commentsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="commentsModalLabel">Comments</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-comments [comments]="comments" [userId]="userId"
          [songId]="commentSongId"></app-comments>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary"
          data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Add Song To playlist -->

  <div class="modal fade" id="AddNewModal" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="AddNewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AddNewModalLabel">Add song to {{listType[userType]}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group" *ngIf="isAdmin">
              <!-- <label for="selectListType">Select ListType</label>
              <select class="form-control" id="selectListType" 
              [(ngModel)]="toAddSongToList.listType"
              
               name="selectListType" #selectListType="ngModel"
                required>
                <option value="">Select</option>
                <option value="playlist">Playlist</option>
                <option value="album">Album</option>
              </select> -->
            </div>
            <div class="alert alert-info" *ngIf="toAddSongToList.listType == 'playlist' 
            && listOfPlaylists.length == 0">
            There are no playlists. Please create a playlist to add songs.
          </div>
            <div class="form-group" *ngIf="toAddSongToList.listType == 'playlist' 
            && listOfPlaylists.length > 0">
              
              <label for="selectPlaylist">Select Playlist</label>
              <select class="form-control" id="selectPlaylist" 
              [(ngModel)]="toAddSongToList.listId"
              
               name="selectPlaylist" #selectPlaylist="ngModel"
                required>
                <option value="">Select</option>
                <option value="{{item.id}}" *ngFor="let item of listOfPlaylists">
                  {{item.title}}
                </option>
              </select>
              
            </div>

            <div class="form-group" *ngIf="toAddSongToList.listType == 'album'">
              <label for="selectAlbum">Select Album</label>
              <select class="form-control" id="selectAlbum" 
              [(ngModel)]="toAddSongToList.listId"
              
               name="selectAlbum" #selectAlbum="ngModel"
                required>
                <option value="">Select</option>
                <option *ngFor="let item of listOfAlbums" value="{{item.id}}" >
                  {{item.title}}
                </option>
              </select>
           
            </div>
          </form>
          
        </div>
        <!-- <div class="modal-footer" *ngIf="isAdmin">
          <button type="button" class="btn btn-outline-secondary" (click)="addSongToList()"
          data-dismiss="modal">Add</button>
        </div> -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="addSongToList(listOfPlaylists.length)"
          data-dismiss="modal">{{listOfPlaylists.length == 0 ? 'CLOSE' : 'ADD'}}</button>
        </div>
      </div>
    </div>
  </div>