<app-header [loggedIn]="true" [showUsername]="userName"></app-header>

<div class="d-flex justify-content-center" style = "margin: 50px;" *ngIf="!albumsList">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="alert alert-info" style="text-align: center;" *ngIf="albumsList  && albumsList.length==0">
  You do not have any albums. Please create an album to create songs.
</div>

<div class="container" *ngIf="albumsList && albumsList.length!=0">
  <div class="py-5 text-center">
    
    <h2>New Song</h2>
    <p class="lead">
        Create a new song and add it your you album.
    </p>
  </div>

  <div class="row center">
    
    <div class="col-md-8 order-md-1">
      
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Song Name</h4>
            <input type="text" class="form-control"  name = "songname"
            [(ngModel)]="song.title" id="songname" placeholder="" required>
            
          </div>
  
        </div>

        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Album</h4>
            <select class="custom-select d-block w-100" id="album" 
            [(ngModel)]="song.albumId" required name="album">
              <option value="">Choose...</option>
              <option *ngFor="let album of albumsList" value="{{album.album_id}}">
                  {{album.title}}
                </option>
            </select>
          </div>
        </div>
        <hr>
        <!-- <div class="">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" 
                [(ngModel)]="song.isRemix" value=""
                id="same-address">
                <label class="custom-control-label" for="same-address">Is Remix</label>
              </div>
              <div class="row" *ngIf="song.isRemix">
                <div class="col-md-12">
                  <label for="album">Album</label>
                  <select class="custom-select d-block w-100" id="album" 
                  [(ngModel)]="song.remixFrom" required>
                    <option value="">Choose...</option>
                    <option>United States</option>
                  </select>
                </div>
              </div>
        </div> -->
        

        <hr class="mb-4">
        <button class="btn btn-secondary btn-lg btn-block"
        (click)="addToAlbum()" type="submit">
            Add
        </button>
      </form>
    </div>
  </div>

 
</div>
