.comment-content{
    display: flex;
    justify-content: space-between;
}

.list-group-item {
    position: relative;
    display: block;
    /* padding: .75rem 1.25rem; */
    /* background-color: #fff; */
    border: unset;
    padding: 0px;
}

.list-override {
    border-bottom: 1px;
    border-bottom-style: dotted;
    border-bottom-color: unset;
    margin-bottom: 6px;
    
}

.list-group-item:last-child {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
    border: unset;
    margin-bottom: 12px;
}

.list-group-item:first-child {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
    margin-top: 6px;
}

.list-group {
    margin-top: -10px;
}    

.is-current{
    color: grey;
    font-weight: 400;
}