<div *ngIf="comments">
    <div class="alert alert-info" *ngIf= "!comments.length">There are no comments for this song.</div>
    <ul class="list-group">
        <li class="list-group-item list-override" *ngFor = "let comment of comments;">
            <div class="comment-content">
                <div>
                    {{comment.message}}
                </div>
            </div>
            <div class="user-name" [ngClass]="{
                'is-current': comment.userId === userId
              }">
                {{comment.user}} 
            </div>
        </li>
      </ul>
      <!-- canComment {{canComment}} <br>
      commented {{commented}} <br>
      
      {{!commented && canComment}} -->
    <div *ngIf = "!commented && canComment">
        <form>
            <div class="form-group">
              <label for="plName">Add Comment</label>
              <textarea class="form-control" id="comName" name="comName" required
              [(ngModel)]="newComment"  ></textarea>
            </div>
            <div>
                <button class="btn btn-sm btn-outline-secondary" (click)="addNewComment()">
                    Add
                </button>
            </div>
        </form>
    </div>

</div>


